:root {
    --bshadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    --red: #c42d2d;
    --blue: #0f55a8;
    --green: #239e55;
    --orange: #f2730a;
    --purple: #a047b5;
    --yellow: #e5c335;
    --cyan: #16b5c1;
    --pink: #e577ed;
}

/* Colors */

.red{
    background: var(--red);
}

.blue{
    background: var(--blue);
}

.green{
    background: var(--green);
}

.orange{
    background: var(--orange);
}

.purple{
    background: var(--purple);
}

.yellow{
    background: var(--yellow);
}

.cyan{
    background: var(--cyan);
}

.pink{
    background: var(--pink);
}

/* -- Body -- */

body{
    background: #242424;
    font-family: 'Poppins';
}

/* Element Seletors */

section {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: #158db7 url('../images/img-4.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    /* scroll-snap-align: start; */
}

/* -- Header Nav -- */

header {
    width: 100%;
    height: 60px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header ul {
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    width: 150px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    text-align: center;
    text-shadow: 0px 0px 3px #fff;
    letter-spacing: 1px;
}

header ul li span {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 15px;
    background: #fff;
    filter: blur(1px);
}

header ul li:before { 
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: -15px;
    height: 5px;
    background: #fff;
    transform: translateY(5px);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    filter: blur(1px);
}

header ul li:hover {
    transform: translateY(0px);
    transition: 0.5s;
}

header ul li:nth-child(1):before {
    background-color: red!important;
}

header ul li:nth-child(2):before {
    background-color: green!important;
}

header ul li:nth-child(3):before {
    background-color: blue!important;
}

header ul li:nth-child(4):before {
    background-color: orange!important;
}

header ul li:hover:before, header ul li:focus:before, header ul li:active:before  {
    transform: translateY(0);
}

header ul li:hover {
    cursor: pointer;
}

footer {
    width: 100%;
    height: 60px;
    background: #000;
    display: flex;
    position: absolute;
    bottom: 0;
}

footer ul {
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    width: 150px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

/* Article ID's */

.row-if {
    display: inline-flex;
    width: 100%;
}

#guide {
    width: 55%;
    height: 600px;
    background: #141414;
    display: inline-flex;
    /* filter: blur(1px); */
    margin: 20px;
    border-radius: 10px;
    box-shadow: var(--bshadow);
    border: 2px solid #555;
    opacity: 0.9;
}

#selection {
    width: 25%;
    height: 240px;
    display: inline-flex;
    /* filter: blur(1px); */
    margin: 20px;
    border-radius: 10px;
    margin-left: 0;
    flex-direction: column;
}

#selection input {
    display: none;
}

/* ETC */

.button-row {
    height: 40px;
    display: flex;
    margin: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.button {
    width: 40%;
    height: 40px;
    display: inline-flex;
    position: relative;
    margin: 0 5px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.button span {
    position: absolute;
    display: flex;
    left: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.button p {
    color: #fff;
    font-weight: 700;
    margin-left: 10px;
}

/* -- Stick Buttons -- */

#stick-buttons {
    width: 250px;
    position: fixed;
    display: flex;
    right: 0;
    top: 70px;
    /* filter: blur(1px); */
    z-index: 2;
}

#sticky-1 {
    width: 250px;
    height: 45px;
    position: absolute;
    top: 10px;
    right: -150px;
    display: flex;
    background: #bc1313;
    border-radius: 10px;
}

#sticky-2 {
    width: 250px;
    height: 45px;
    position: absolute;
    top: 65px;
    right: -150px;
    display: flex;
    background: #0fb556;
    border-radius: 10px;
}

#sticky-3 {
    width: 250px;
    height: 45px;
    position: absolute;
    top: 120px;
    right: -150px;
    display: flex;
    background: #158db7;
    border-radius: 10px;
}

#sticky-4 {
    width: 250px;
    height: 45px;
    position: absolute;
    top: 175px;
    right: -150px;
    display: flex;
    background: #c42c5f;
    border-radius: 10px;
}

/* Quiz */

#quiz {
    width: 600px;
    height: 500px;
    background: #fff;
    display: none;
    border-radius: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
}

#quiz-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#quiz .header {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 200px;
    height: 50px;
    background: red;
    border-radius: 5px;
}

#quiz .time {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 80px;
    height: 50px;
    background: red;
    border-radius: 5px;
}

#quiz p {
    position: relative;
    top: -120px;
    font-size: 20px;
    font-weight: 500;
}