:root {
    --bshadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    --red: #c42d2d;
    --blue: #0f55a8;
    --green: #239e55;
    --orange: #f2730a;
    --purple: #613699;
    --yellow: #e5c335;
    --cyan: #16b5c1;
    --pink: #e577ed;
}

/* Colors */

.height-40 {
    height: 40px;
}

#genre-header {
    display: flex;
    align-items: center;
}

.relative {
    position: relative;
}

#page-2 {
    display: none;
}

.height-test {
    height: auto;
}

.margin-top {
    margin-top: 30px;
}

.red{
    background: var(--red)!important;
}

.blue{
    background: var(--blue)!important;
}

.green{
    background: var(--green)!important;
}

.orange{
    background: var(--orange)!important;
}

.purple{
    background: var(--purple)!important;
}

.yellow{
    background: var(--yellow)!important;
}

.cyan{
    background: var(--cyan)!important;
}

.pink{
    background: var(--pink)!important;
}

/* -- Body -- */

body{
    background: #242424;
    font-family: 'Poppins';
    width: 100%;
}

/* Element Seletors */

section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    background: #158db7 url('../images/img-4.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    /* scroll-snap-align: start; */
}

/* -- Header Nav -- */

header {
    width: 100%;
    height: 60px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title-logo {
    position: absolute;
    height: 60px;
    width: 250px;
    left: 0;
    top: 0;
    display: flex;
}

.title-logo img {
    object-fit: cover;
    width: 250px;
}

header ul {
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    width: 180px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-shadow: 0px 0px 3px #fff; */
    letter-spacing: 1px;
    text-transform: uppercase;
}

header ul li span {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 14px;
    background: #fff;
}

header ul li:before { 
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: -22px;
    height: 5px;
    background: #fff;
    transform: translateY(5px);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

header ul li:hover {
    transform: translateY(0px);
    transition: 0.5s;
}

header ul li:nth-child(1):before {
    background-color: var(--red)!important;
}

header ul li:nth-child(2):before {
    background-color: var(--green)!important;
}

header ul li:nth-child(3):before {
    background-color: var(--blue)!important;
}

header ul li:nth-child(4):before {
    background-color: var(--orange)!important;
}

header ul li:hover:before, header ul li:focus:before, header ul li:active:before  {
    transform: translateY(0);
}

header ul li:hover {
    cursor: pointer;
}

footer {
    width: 100%;
    height: 60px;
    background: #000;
    display: flex;
    position: absolute;
    bottom: 0;
}

footer ul {
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

footer ul li {
    width: 180px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

footer ul li span {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    position: absolute;
    bottom: 50px;
    left: 15px;
    background: #fff;
}

footer ul li:before { 
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: -27px;
    height: 5px;
    background: #fff;
    transform: translateY(0px);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

footer ul li:hover {
    transform: translateY(0px);
    transition: 0.5s;
}

footer ul li:nth-child(1):before {
    background-color: var(--yellow)!important;
}

footer ul li:nth-child(2):before {
    background-color: var(--cyan)!important;
}

footer ul li:nth-child(3):before {
    background-color: var(--purple)!important;
}

footer ul li:nth-child(4):before {
    background-color: var(--pink)!important;
}

footer ul li:hover:before, footer ul li:focus:before, footer ul li:active:before  {
    transform: translateY(5px);
}

footer ul li:hover {
    cursor: pointer;
}

/* Article ID's */

/* Guide Content */

#guide {
    height: 600px;
    background: #141414;
    /* filter: blur(1px); */
    border-radius: 10px;
    box-shadow: var(--bshadow);
    border: 1px solid #bbb;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

#guide #phone {
    height: 600px;
    z-index: 2;
}

#guide #pointer {
    position: absolute;
    width: 60px;
    height: 60px;
    object-fit: contain;
    opacity: 0.9;
    z-index: 2;
}

#guide-buttons {
    position: absolute;
    width: 200px;
    height: 120px;
    display: flex;
    top: 370px;
    flex-direction: column;
    opacity: 0.9;
}

#guide-buttons div {
    display: flex;
    height: 30px;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#guide-buttons div span {
    width: 90px;
    height: 24px;
    border-radius: 3px;
}

#guide-sticky {
    position: absolute;
    display: flex;
    width: 40px;
    height: 90px;
    left: 341px;
    top: 120px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-end;
    opacity: 0.9;
}

#guide-sticky span {
    height: 24px;
    width: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#selection input {
    display: none;
}

/* ETC */

.button {
    height: 50px;
    margin: 5px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    font-size: 20px;
}

.button div {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

.button div .left-check {
    position: absolute;
    display: none;
    left: 5px;
    top: 14px;
    width: 9px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
    border-radius: 0;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

.button div .right-check {
    position: absolute;
    display: none;
    right: 4px;
    top: 20px;
    width: 21px;
    height: 2px;
    background: #fff;
    transform: rotate(-45deg);
    border-radius: 0;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.button p {
    color: #fff;
    font-weight: 700;
    margin-left: 10px;
    font-size: 12px;
}

/* -- Stick Buttons -- */

#stick-buttons {
    width: 250px;
    position: absolute;
    display: flex;
    right: 0;
    top: 70px;
    /* filter: blur(1px); */
    z-index: 2;
}

#sticky-1 {
    width: 250px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: -175px;
    display: flex;
    border-radius: 10px;
    border: 1px solid #bbb;
    justify-content: center;
    align-items: center;
}

#sticky-2 {
    width: 250px;
    height: 50px;
    position: absolute;
    top: 70px;
    right: -175px;
    display: flex;
    border-radius: 10px;
    border: 1px solid #bbb;
    justify-content: center;
    align-items: center;
}

#sticky-3 {
    width: 250px;
    height: 50px;
    position: absolute;
    top: 130px;
    right: -175px;
    display: flex;
    border-radius: 10px;
    border: 1px solid #bbb;
    justify-content: center;
    align-items: center;
}

#sticky-1 p, #sticky-2 p, #sticky-3 p {
    color: #fff;
    font-family: 'Poppins';
    position: relative;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#sticky-1, #sticky-2, #sticky-3 {
    cursor: pointer;
}

#sticky-1 span, #sticky-2 span, #sticky-3 span {
    position: absolute;
    display: flex;
    left: 10px;
    font-family: 'Trajan';
    font-size: 18px;
    top: 14px;
    color: #fff;
    width: 50px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-shadow: 0px 0px 3px #fff;
}

#genre-header h2 {
    color: #fff;
    font-family: 'Safety';
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

/* Quiz */

#quiz {
    height: 500px;
    background: #141414;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #555;
    opacity: 0.9;
}

.quiz-buttons {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

.quiz-buttons label {
    color: #fff;
    margin: 10px 40px;
}

#quiz input {
    display: none;
}

#quiz-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#quiz .header {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}

#quiz .header h2 {
    color: #fff;
    font-family: 'Safety';
    font-size: 14px;
    letter-spacing: 1px;
}

#quiz .time {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 80px;
    height: 50px;
    border-radius: 5px;
    text-align: right;
}

#quiz .time h2 {
    color: #fff;
    font-family: 'Safety';
    font-size: 20px;
    letter-spacing: 1px;
}

#quiz p {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    top: -100px;
    margin: 0 50px;
}

#divCountdownBar{
    position: absolute;
    width: 500px;
    height: 10px;
    top: 200px;
    border: 2 px black solid;
    background: linear-gradient(to right, red, yellow, green);
}

#divTimeLeft{
    float: right;
    background: lightgray;
    height: 10px;
}

/* DASHBOARD PAGE */

#page-dashboard {
    display: none;
}

.results-progress {
    height: 240px;
    background: #141414;
    opacity: 0.9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: var(--bshadow);
    border: 1px solid #bbb;
    border-radius: 10px;
    position: relative;
}

#progressBar {
    margin-left: 40px;
    margin-top: 10px;
}

.box-header {
    position: absolute;
    top: 15px;
    left: 15px;
}

.box-header h2 {
    color: #fff;
    font-family: 'Safety';
    font-size: 12px;
    letter-spacing: 1px;
}

.box-content {
    position: relative;
    height: 160px;
    width: 200px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.box-content h3 {
    color: #fff;
    font-family: 'Poppins';
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 700;
    position: absolute;
    top: 0;
}

.box-content h2 {
    color: #fff;
    font-family: 'Poppins';
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 8px;
    font-weight: 700;
    position: absolute;
}

#score-final {
    top: 40px;
    left: 40px;
}

#slash {
    top: 45px;
    left: 90px;
    font-size: 40px;
}

#total {
    top: 50px;
    left: 120px;
}

.box-content #genre-icons {
    width: 150px;
    position: absolute;
    height: 50px;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#genre-icons span {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #fff;
}

.high-score {
    color: #fff;
}

.high-score table {
    width: 100%;
}

.high-score th {
    width: 25%;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.high-score tr {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.high-score td {
    width: 25%;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.high-score tr:nth-child(2n+1){
    background: black;
}

.high-score td span {
    width: 15px;
    height: 15px;
    display: inline-flex;
    border-radius: 5px;
}

.question-block {
    height: 180px;
    /* background: #000; */
    display: flex;
    position: relative;
    margin-left: 20px!important;
}

.results-questions {
    height: auto;
    background: #141414;
    opacity: 0.9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: var(--bshadow);
    border: 1px solid #bbb;
    border-radius: 10px;
    position: relative;
    flex-direction: column;
    margin-bottom: 80px;
}

.q-row {
    height: 180px;
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 20px;
}

.margin-top-q {
    margin-top: 50px;
}

.q-header {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    display: flex;
    align-items: center;
}

.q-header h3 {
    color: #fff;
    font-size: 12px;
    font-family: 'Safety';
    letter-spacing: 1px;
}

.q-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 5px;
}

.q-question {
    width: 100%;
    position: absolute;
    top: 35px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.q-question p {
    font-family: 'Poppins';
    font-size: 12px;
    color: #fff;
    margin: 0 20px;
}

.q-answers {
    position: absolute;
    bottom: 5px;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.q-answers li {
    height: 22px!important;
    font-size: 14px;
    margin-left: 20px;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
}

.q-answers li p {
    max-width: 24ch;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    white-space: nowrap;
    line-height: 18px;
    height: 18px;
}

.q-answers li span {
    position: absolute;
    height: 15px;
    width: 14px;
    right: 14px;
    border-radius: 5px;
    background: #fff;
}

.about-test {
    color: #fff;
    background: #141414;
    opacity: 0.9;
    padding: 30px;
    border: 1px solid #bbb;
    border-radius: 10px;
    position: relative;
}

.about-test p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.page-header {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
}

.page-header h2 {
    font-family: 'Safety';
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}

.page-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 10px;
}

.page-icon span {
    font-size: 24px;
    color: #fff;
    display: flex;
}

#page-about {
    display: none;
}

#code-about{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
}

.code-row {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
}

.code-row span {
    width: 50px;
    height: 50px;
    font-size: 50px;
}

.code-column {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 100%;
}

.code-bar {
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
}

.code-bar .purple {
    height: 15px;
    width: 100px;
    margin-left: 20px;
}

.code-bar .orange {
    height: 15px;
    width: 120px;
    margin-left: 20px;
}

.code-bar .yellow {
    height: 15px;
    width: 180px;
    margin-left: 20px;
}

.code-bar p {
    height: 25px;
    margin-left: 20px;
    position: absolute;
    top: 5px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.code-bar .code-per {
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 10px;
    font-family: 'Safety';
    margin-left: 15px;
    margin-top: 20px;
}