#tasks {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 460px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#task-header {
    width: 100%;
    display: flex;
    background: #329d52;
    height: 40px;
    position: relative;
    justify-content: center;
    align-items: center;
}

#task-header h2 {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

#task-icons {
    position: absolute;
    display: flex;
    width: 80px;
    height: 40px;
    left: 460px;
    top: 0;
    flex-direction: row;
}

#task-header span {
    height: 40px;
    width: 40px;
    border-left: 2px solid #fff;
    display: flex;
    color: #fff;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background: #267c40;
    box-sizing: border-box;
}

.task {
    width: 540px;
    height: 100px;
    background: #f4f4f4;
    border-top: 2px solid #fff;
    display: none;
}

.task p {
    font-size: 16px;
    font-family: 'Poppins';
    margin: 10px;
}